# Keil/MDK build artifacts
MDK-ARM/
*.axf
*.hex
*.lnp
*.map
*.sct
*.o
*.d
*.crf
*.uvprojx
*.uvoptx
*.build_log.html

# Build folders
pai_stm32f103c8t6/
STM32F103C8T6/build/

# Python cache
__pycache__/
*.pyc

# VSCode
.vscode/

# Temporary / backup
*.tmp
*~
.DS_Store

# Other local files
*.log
